// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem 2rem 4rem 2rem;
  flex: 1;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

header {
  background: #f5f5f5;
  padding: 1rem 2rem;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid #ddd;
  width: 100%;

  h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.logo-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  line-height: 0;
}

.site-logo {
  max-height: 50px;
  width: auto;
  display: block;

  &.invertable { filter: invert(0); }
}

.footnote-definition {
  padding: 0 1rem;
  &:target {
    background: yellow;
    color: #212121;
  }
  p {
    display: inline;
  }
}

nav, .taxonomies { text-align: center; }

footer {
  background: #f5f5f5;
  padding: 1rem 2rem;
  margin: 0;
  border-top: 1px solid #ddd;
  width: 100%;
  text-align: center;
  margin-top: auto;

  p {
    margin: 0;
  }
}