{% extends "base.html" %}

{% block content %}
<article class="downloads-page">
  <h1>{{ section.title }}</h1>
  {% if section.content %}
  <div class="downloads-intro">
    {{ section.content | safe }}
  </div>
  {% endif %}

  {% for page in section.pages %}
  <section class="download-item">
    <figure class="download-thumbnail">
      <a href="/downloads/{{ page.slug }}.pdf" download>
        <img src="/downloads/{{ page.slug }}.jpg" alt="{{ page.title }}" />
      </a>
    </figure>
    <div class="download-info">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
      <p class="download-link"><a href="/downloads/{{ page.slug }}.pdf" download>Download {{ page.title }}</a></p>
    </div>
  </section>
  {% endfor %}
</article>
{% endblock content %}
