{% extends "base.html" %}

{% block content %}
{# Get all pages and find the latest one #}
{% set_global latest_page = false %}
{% set_global latest_date = "" %}
{% for page in section.pages %}
    {% if page.date %}
        {% if not latest_page or page.date > latest_date %}
            {% set_global latest_page = page %}
            {% set_global latest_date = page.date %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if latest_page %}
<h1>Blog</h1>
<article>
    <h2>{{ latest_page.title }}</h2>
    {% if latest_page.date %}
    <p class="post-meta">{{ latest_page.date }}</p>
    {% endif %}
    {{ latest_page.content | safe }}
</article>
{% else %}
<p>No posts available yet.</p>
{% endif %}
{% endblock content %}